.doit.db
__pycache__
venv
KED2023/lectures/notes/
KED2023/lectures/md/.gitignore
KED2023/lectures/pdf
KED2023/lectures/html
KED2023/assignments
KED2023/materials/code/.ipynb_checkpoints
docs/assignments
